* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	margin: 0;
}

form {
	margin-left: auto;
	margin-right: auto;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.title {
	text-align: center;
}

.textfield {
	padding: 8px;
	width: 100%;
  	border: 2px solid #AAAAAA;
	border-radius: 8px;
}

.select {
	padding: 8px;
	width: 100%;
	background-color: #EEEEEE;
  	border: 2px solid #AAAAAA;
	border-radius: 8px;
	transition: 0.2s;
}

.select:hover {
	background-color: #DDDDDD;
}

.submit {
	padding: 8px;
	background-color: #4CAF50;
  	border: 0;
	border-radius: 8px;
	transition: 0.2s;
}

.submit:hover {
	background-color: #357A38;
	color: white;
}

.form {
	padding: 20px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
	border-radius: 32px;
}

.tab {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.tabcontent {
	display: none;
}

.column {
	float: left;
	width: 50%;
	padding: 8px;
}

.column-single {
	padding: 8px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
}

.center {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 400px;
	display: none;
	margin-bottom: 30px;
}

#ImageInputBtn {
	display: none;
}

#ImageLabel {
	display: block;
	width: 300px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	line-height: 50px;
	text-align: center;
	background: #1172c2;
	color: #ffffff;
	font-size: 15px;
	border-radius: 8px;
	cursor: pointer;
}
