* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	margin: 0;
}

form {
	margin-left: auto;
	margin-right: auto;
}

.title {
	text-align: center;
}

.textfield {
	padding: 8px;
	width: 100%;
  	border: 2px solid #AAAAAA;
	border-radius: 8px;
}

.select {
	padding: 8px;
	width: 100%;
	background-color: #EEEEEE;
  	border: 2px solid #AAAAAA;
	border-radius: 8px;
	transition: 0.2s;
}

.select:hover {
	background-color: #DDDDDD;
}

.form {
	padding: 20px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 8px;
}

.column-single {
  padding: 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
